
@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomLayout -2";
}
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">WELCOME TO <span>UISCOM LIBRARY</span></h2>
                        <p class="animate__animated animate__fadeInUp">
                            Deal with your favorite books ,
                            Try searching for a book Or a specific Author
                        </p>
                        <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">WELCOME TO <span>UISCOM LIBRARY</span></h2>
                        <p class="animate__animated animate__fadeInUp">
                            Deal with your favorite books ,
                            Try searching for a book Or a specific Author
                        </p>
                        <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content">
                        <h2 class="animate__animated animate__fadeInDown">WELCOME TO <span>UISCOM LIBRARY</span></h2>
                        <p class="animate__animated animate__fadeInUp">
                            Deal with your favorite books ,
                            Try searching for a book Or a specific Author
                        </p>
                        <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Read More</a>
                    </div>
                </div>
            </div>

        </div>


            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon ri-arrow-left-line" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon ri-arrow-right-line" aria-hidden="true"></span>
            </a>

        </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">
            <div class="col-lg-6">
                <h2>this is about page</h2>
                <h3>Some quick example text to build on the page title and make up the content of the page's content</h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Some quick example text to build on the page title and make up the content of the page's content
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Some quick example text to build on the page title and make up the content of the page's content</li>
                    <li><i class="ri-check-double-line"></i> Some quick example text to build on the page title and make up the content of the page's content</li>
                    <li><i class="ri-check-double-line"></i>Some quick example text to build on the page title and make up the content of the page's content</li>
                </ul>
                <p class="fst-italic">
                    Some quick example text to build on the page title and make up the content of the page's content
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= About List Section ======= -->
<section id="about-list" class="about-list">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="icon-box mt-5 mt-lg-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Some quick example text</h4>
                    <p>Some quick example text to build on the page title and make up the content of the page's content</p>
                </div>
                <div class="icon-box mt-5">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Some quick example text</h4>
                    <p>Some quick example text to build on the page title and make up the content of the page's content</p>
                </div>
                <div class="icon-box mt-5">
                    <i class="bx bx-images"></i>
                    <h4>Some quick example text</h4>
                    <p>Some quick example text to build on the page title and make up the content of the page's content</p>
                </div>
                <div class="icon-box mt-5">
                    <i class="bx bx-shield"></i>
                    <h4>Some quick example text</h4>
                    <p>Some quick example text to build on the page title and make up the content of the page's content</p>
                </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/about-list-img.jpg");'></div>
        </div>

    </div>
</section><!-- End About List Section -->

