@using BookStore.Models
@model IEnumerable<Author>

@{
    ViewData["Title"] = "Authors";
    Layout = "_CustomLayout";
}

<h2 style="margin-top: 100px">
    <i class = "bi bi-person" ></i>
    Authors
</h2>

<hr />

<a class="btn btn-primary" asp-action="Create">
    <i class="bi bi-plus"></i>Add Authors
</a>

<div class="mt-4">
    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle"></i>
            No Authors found!
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var auther in Model)
            {
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="card-body d-flex flex-column justify-content-en h-100">
                                <div>
                                    <h5 class="card-title">@auther.Name</h5>
                                </div>
                                <div>
                                    <a asp-action="Details" asp-route-id="@auther.Id" class="btn btn-outline-secondary">
                                        <i class="bi bi-person"></i>
                                        Details
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@auther.Id" class="btn btn-outline-primary">
                                        <i class="bi bi-pencil"></i>
                                        Edit
                                    </a>
                                    <a href="javascript:;" class="btn btn-danger js-delete" data-id="@auther.Id">
                                        <i class="bi bi-trash"></i>
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: "Are you sure that you need to delete this Auhtor?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/authors/delete/' + btn.data('id'),
                                success: function () {
                                    var AuthorContainer = btn.parents('.col-12');
                                    AuthorContainer.addClass('animate__animated animate__zoomOut');

                                    setTimeout(function () {
                                        AuthorContainer.remove();
                                    }, 1000);

                                    toastr.success('Author deleted');
                                },
                                error: function () {
                                    toastr.error('Something went wrong!');
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}


